@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Services";
}
@model List<Product>;

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
          
        </div>

        <div class="row gy-4">
    @foreach (var item in Model)
    {
        var photo = "../images/" + (item.Photo ?? "daisy7.jpeg");
        <div class="col">
            <div class="card shadow-sm">
                <img src="@photo" alt=" " height="350">
                <div class="card-body">
                    <p class="card-text">category</p>
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                    </form>
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <small class="text-body-secondary">price TND</small>
                </div>
            </div>
        </div>
    }
</div>


        </div>

    </div>
</section><!-- End Services Section -->